@import url('https://www.fontspring.com/fonts/my-creative-land/the-seasons');

html{
  background-color: #d8d8d8;
}

.topnav {
    background-color: #a158ff;
    overflow: hidden;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,.2);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #ffffff;
    border-radius: 25px;
    margin: 5px; 
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #bdbdbd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #bdbdbd;
    color: black;
  }

  .topnav {
    font-family: The Seasons;
    font-size: 30px;
    text-align: center;
    
  }

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#imagensRollin > img{
  border-radius: 15px;
}

.sobreNos{
  text-align: center;
  font-family: The Seasons;
}

.sobreNos > #texto{
  font-family: Arial, Helvetica, sans-serif;
}

#doacoes{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}