@import url('https://www.fontspring.com/fonts/my-creative-land/the-seasons');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html{
  background-color: #d8d8d8;
}


text{
  font-family:Arial, Helvetica, sans-serif
}

.topnav {
    background-color: #a158ff;
    overflow: hidden;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,.2);
    text-align:left;
  }
  
  .topnav a {
    float: center;
    color: black;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #ffffff;
    border-radius: 25px;
    margin: 5px; 
  }
  
  .topnav a:hover {
    background-color: #bdbdbd;
    color: black;
  }

  .topnav a.active {
    background-color: #bdbdbd;
    color: black;
  }

  .topnav {
    font-family: The Seasons;
    font-size: 30px;
    text-align: center;
    
  }

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
